In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv(r"C:\shruthi\C\spam.csv",encoding='unicode_escape')

In [3]:
ds.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
ds.shape

(5570, 2)

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5570 non-null   object
 1   Message   5570 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
ds.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
ds.nunique()

Category       2
Message     5155
dtype: int64

In [8]:
ds.columns

Index(['Category', 'Message'], dtype='object')

In [9]:
ds['Category']=ds['Category'].astype('category')
ds['Category']=ds['Category'].cat.codes

In [10]:
ds.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [11]:
ds.columns

Index(['Category', 'Message'], dtype='object')

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(ds.Message,ds.Category,test_size=0.2)

In [13]:
x_train

2446    Tmr then Ã¼ brin lar... Aiya later i come n c l...
2139              After the drug she will be able to eat.
4240                 Detroit. The home of snow. Enjoy it.
4636    Oh ho. Is this the first time u use these type...
873     Talk With Yourself Atleast Once In A Day...!!!...
                              ...
2771                              Still in customer place
2281                        Whom you waited for yesterday
771     idc get over here, you are not weaseling your ...
4978    Spending new years with my brother and his fam...
2120    In xam hall boy asked girl Tell me the startin...
Name: Message, Length: 4456, dtype: object

In [14]:
y_train

2446    0
2139    0
4240    0
4636    0
873     0
       ..
2771    0
2281    0
771     0
4978    0
2120    0
Name: Category, Length: 4456, dtype: int8

In [15]:
x_test

1561    Dude just saw a parked car with its sunroof po...
4792    Or u ask they all if next sat can a not. If al...
5179    K sure am in my relatives home. Sms me de. Pls:-)
1909    Becoz its &lt;#&gt; jan whn al the post ofice ...
555     O. Well uv causes mutations. Sunscreen is like...
                              ...
2310    Congratulations! Thanks to a good friend U hav...
4250    Omg Joanna is freaking me out. She's looked th...
3888                    Unlimited texts. Limited minutes.
3675    Hey r Ã¼ still online? I've finished the format...
4080                            Hurry home. Soup is DONE!
Name: Message, Length: 1114, dtype: object

In [16]:
y_test

1561    0
4792    0
5179    0
1909    0
555     0
       ..
2310    1
4250    0
3888    0
3675    0
4080    0
Name: Category, Length: 1114, dtype: int8

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
x_train_count=vectorizer.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
x_train[:3]

2446    Tmr then Ã¼ brin lar... Aiya later i come n c l...
2139              After the drug she will be able to eat.
4240                 Detroit. The home of snow. Enjoy it.
Name: Message, dtype: object

In [19]:
x_train_count.shape

(4456, 7703)

In [20]:
x_train.shape

(4456,)

In [21]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [22]:
emails=['Hey Neethu, lets get together and watch a movie',
       'Exclusive 20% offer only for you on parking charges ',
       'Exclusive 20% offer only for you on parking charges ',
        'Hey Neethu, lets get together and watch a movie'
       ]

In [23]:
email_count=vectorizer.transform(emails)
email_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
email_count.shape

(4, 7703)

In [25]:
model.predict(email_count)

array([0, 1, 1, 0], dtype=int8)

In [26]:
x_test.shape

(1114,)

In [27]:
x_test

1561    Dude just saw a parked car with its sunroof po...
4792    Or u ask they all if next sat can a not. If al...
5179    K sure am in my relatives home. Sms me de. Pls:-)
1909    Becoz its &lt;#&gt; jan whn al the post ofice ...
555     O. Well uv causes mutations. Sunscreen is like...
                              ...
2310    Congratulations! Thanks to a good friend U hav...
4250    Omg Joanna is freaking me out. She's looked th...
3888                    Unlimited texts. Limited minutes.
3675    Hey r Ã¼ still online? I've finished the format...
4080                            Hurry home. Soup is DONE!
Name: Message, Length: 1114, dtype: object

In [28]:
x_test_count=vectorizer.transform(x_test)

In [29]:
y_predicted=model.predict(x_test_count)
y_predicted

array([0, 0, 0, ..., 1, 0, 0], dtype=int8)

In [30]:
model.score(x_test_count,y_test)

0.9874326750448833